/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
 }
body { margin: 0; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;background-color: rgb(207, 34, 34); }
.heading {
    position: relative;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    text-align: center;
    max-height: max-content;
    padding: 10px;;
    background-color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* box-shadow: 1px 3px 20px 3px  #2c2929; */
  }